*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-image: url("photo-1492144534655-ae79c964c9d7.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: brown;
    margin-top: 20px;
}
hr{
    margin: 20px;
    background-color: brown;
    height: 3px;
    width: 450px;
}
a{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: aqua;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px red;
}
a:hover{
    background-color: transparent;
    color: brown;
}
img{
    width: 600px;
    height: 400px;
    margin: 13px 0;
}
h3{
    font-size: 25px;
    color: aquamarine;
}
p{
    font-weight: bold;
    margin: 0 450px;
    color: lightskyblue;
}